<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <link href="/styles/index.css" rel="stylesheet">
  <title>TaTeTi²</title>
</head>

<body>

  <div id="titulo">
    <h1>TaTeTi²</h1>

    <p id="texto">- - - - - - - - - - -</p>

    <a href="/local">>>Juego Local</a>
    <br />
    <a href="/online">>>Juego Online</a>

  </div>
  <div id="instrucciones">
    <h2>Cómo jugar</h2>
    <h4>Reglas del juego</h4>
    <p>El objetivo es formar un tatetí grande usando los tatetíes chicos, de la siguiente forma:</p>
    <div style="text-align: center;">
      <br />
      <img style="max-width: 250px;max-height: 250px;" src="/images/manual-1.png" />
      <br />
    </div>
    <p>El primer jugador podrá elegir la posición de su primera jugada a gusto.
      Luego, el otro jugador deberá jugar en el tatetí correspondiente a la casilla
      donde jugó el primero, marcado en celeste. Y así sucesivamente hasta que alguno gane
      la partida o el juego se buguee.
    </p>
    <div style="text-align: center;">
      <div>
        <img style="max-width: 250px;max-height: 250px; display: inline;" src="/images/manual-3.png" />
        <img style="max-width: 250px;max-height: 250px; display: inline;" src="/images/manual-4.png" />
      </div>
      <img style="max-width: 250px;max-height: 250px;" src="/images/manual-2.png" />
    </div>
    <h4>Modo Online</h4>
    <p>Si querés "hostear" la partida introducí tu nombre en el primer casillero para generarla.
      Esto va a generar un ID con el cual se va a poder unir tu contrincante. Si sos dicho contrincante,
      solo basta con buscar el ID en el menú desplegable, introducir tu nombre y dar OK. Ya está por comenzar tu partida!
    </p>
  </div>

  <script src="./index.js"></script>
</body>

</html>